extend layout
block content
    div(class='main-content')
        div(class='center-panel one')
            div(class='center-text')
                div(class='main-text').
                    Eggplant Day
        div(class='center-panel two')
            div(class='center-text')
                div(class='main-text').
                    Tuesday 4/7
        div(class='center-panel three')
            div(class='center-text')
                div(class='main-text').
                    10am - 3pm
        div(class='center-panel four')
            div(class='center-text')
                div(class='main-text').
                    UC Courtyard
