extend layout
block content
    div(class='answers-audio')
        audio(class='answer-audio-clip', id='answer-q1', src='/audio/1.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q2', src='/audio/2.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q3', src='/audio/3.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q4', src='/audio/4.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q5', src='/audio/5.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q6', src='/audio/6.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q7', src='/audio/7.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q8', src='/audio/8.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q9', src='/audio/9.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q10', src='/audio/10.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q11', src='/audio/11.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q12', src='/audio/12.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q13', src='/audio/13.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q14', src='/audio/14.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q15', src='/audio/15.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q16', src='/audio/16.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q17', src='/audio/17.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q18', src='/audio/18.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q19', src='/audio/19.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q20', src='/audio/20.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q21', src='/audio/21.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q22', src='/audio/22.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q23', src='/audio/23.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q24', src='/audio/24.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q25', src='/audio/25.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q26', src='/audio/26.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q27', src='/audio/27.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q28', src='/audio/28.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q29', src='/audio/29.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q30', src='/audio/30.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q31', src='/audio/31.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q32', src='/audio/32.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q33', src='/audio/33.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q34', src='/audio/34.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q35', src='/audio/35.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q36', src='/audio/36.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q37', src='/audio/37.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q38', src='/audio/38.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q39', src='/audio/39.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q40', src='/audio/40.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q41', src='/audio/41.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q42', src='/audio/42.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q43', src='/audio/43.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q44', src='/audio/44.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q45', src='/audio/45.mp3', type='audio/mpeg')
        audio(class='answer-audio-clip', id='answer-q46', src='/audio/46.mp3', type='audio/mpeg')
    ul(class='questions-list')
        li(class='q-li', id='q1')
            p(class='q-text').
                Did you know that Entropy sells eggplants?
        li(class='q-li', id='q2')
            p(class='q-text').
                Why do you think Entropy sells eggplants?
        li(class='q-li', id='q3')
            p(class='q-text').
                Have you ever bought an eggplant from Entropy?
        li(class='q-li', id='q4')
            p(class='q-text').
                Have you ever seen someone else buy an eggplant from Entropy?
        li(class='q-li', id='q5')
            p(class='q-text').
                Who do you think buys the eggplants from Entropy, if anyone?
        li(class='q-li', id='q6')
            p(class='q-text').
                Are you for, against, or neutral about Entropy’s selling of eggplants?
        li(class='q-li', id='q7')
            p(class='q-text').
                Would you prefer to see something else being sold in Entropy in place of eggplants? If yes, what would you like to see as a replacement?
        li(class='q-li', id='q8')
            p(class='q-text').
                Do you like eggplants? Why or why not?
        li(class='q-li', id='q9')
            p(class='q-text').
                How often do you eat eggplants?
        li(class='q-li', id='q10')
            p(class='q-text').
                How often do you think about eggplants?
        li(class='q-li', id='q11')
            p(class='q-text').
                Do you consider yourself an eggplant enthusiast?
        li(class='q-li', id='q12')
            p(class='q-text').
                What’s your favorite eggplant dish?
        li(class='q-li', id='q13')
            p(class='q-text').
                What’s an eggplant’s best quality? Worst quality?
        li(class='q-li', id='q14')
            p(class='q-text').
                Can you say “eggplant” in another language?
        li(class='q-li', id='q15')
            p(class='q-text').
                What was your first memory involving an eggplant?
        li(class='q-li', id='q16')
            p(class='q-text').
                Tell me an anecdote about an experience you had with eggplant.
        li(class='q-li', id='q17')
            p(class='q-text').
                Eggplant is an odd name. What would you call an eggplant instead?
        li(class='q-li', id='q18')
            p(class='q-text').
                When do you use the eggplant emoji?
        li(class='q-li', id='q19')
            p(class='q-text').
                What does an eggplant remind you of?
        li(class='q-li', id='q20')
            p(class='q-text').
                What purpose do you think an eggplant can serve, besides for cooking use?
        li(class='q-li', id='q21')
            p(class='q-text').
                Imagine a world without eggplants. What is it like?
        li(class='q-li', id='q22')
            p(class='q-text').
                Imagine an eggplant that has come to life. Describe its personality.
        li(class='q-li', id='q23')
            p(class='q-text').
                Would you be friends with a personified eggplant?
        li(class='q-li', id='q24')
            p(class='q-text').
                Do you believe eggplants need love?
        li(class='q-li', id='q25')
            p(class='q-text').
                Have you loved an eggplant recently?
        li(class='q-li', id='q26')
            p(class='q-text').
                Could you love an eggplant?
        li(class='q-li', id='q27')
            p(class='q-text').
                You’ve adopted an eggplant. What do you name it?
        li(class='q-li', id='q28')
            p(class='q-text').
                Are eggplants underrated, overrated, or just plain rated?
        li(class='q-li', id='q29')
            p(class='q-text').
                Are eggplants necessary?
        li(class='q-li', id='q30')
            p(class='q-text').
                Are eggplants beautiful?
        li(class='q-li', id='q31')
            p(class='q-text').
                Are eggplants trustworthy?
        li(class='q-li', id='q32')
            p(class='q-text').
                Are eggplants important?
        li(class='q-li', id='q33')
            p(class='q-text').
                Are eggplants cute?
        li(class='q-li', id='q34')
            p(class='q-text').
                Are eggplants funny?
        li(class='q-li', id='q35')
            p(class='q-text').
                What is an eggplant worth?
        li(class='q-li', id='q36')
            p(class='q-text').
                What are the intangible qualities of an eggplant?
        li(class='q-li', id='q37')
            p(class='q-text').
                How much potential do you think an eggplant has?
        li(class='q-li', id='q38')
            p(class='q-text').
                Is there enough eggplant awareness in this world?
        li(class='q-li', id='q39')
            p(class='q-text').
                If eggplant were an emotion, what would it be?
        li(class='q-li', id='q40')
            p(class='q-text').
                What do eggplants smell like?
        li(class='q-li', id='q41')
            p(class='q-text').
                Describe what an eggplant tastes like.
        li(class='q-li', id='q42')
            p(class='q-text').
                If eggplants could talk, what do you think they would sound like?
        li(class='q-li', id='q43')
            p(class='q-text').
                How do eggplants make you feel?
        li(class='q-li', id='q44')
            p(class='q-text').
                Do you respect eggplants?
        li(class='q-li', id='q45')
            p(class='q-text').
                Do you think the existence of eggplants in this world enhances the quality of life?
        li(class='q-li', id='q46')
            p(class='q-text').
                Will you attend Eggplant Day on Friday, April 10th (1pm - 5pm)?

